<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap rescap">

  <Identity Name="FileStrider"
            Publisher="CN=FileStrider"
            Version="1.0.0.0"
            ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>FileStrider</DisplayName>
    <PublisherDisplayName>kirakosyan</PublisherDisplayName>
    <Logo>Assets\MsixLogo\StoreLogo.png</Logo>
    <Description>Big File and Folder Discovery Tool. Quickly find the largest files and folders on your disk.</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop"
                        MinVersion="10.0.17763.0"
                        MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
    <Resource Language="es" />
    <Resource Language="fr" />
    <Resource Language="sv" />
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="FileStrider.MauiApp.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="FileStrider"
                          Description="Big File and Folder Discovery Tool"
                          BackgroundColor="transparent"
                          Square150x150Logo="Assets\MsixLogo\Square150x150Logo.png"
                          Square44x44Logo="Assets\MsixLogo\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\MsixLogo\Wide310x150Logo.png"
                         Square310x310Logo="Assets\MsixLogo\Square310x310Logo.png"
                         Square71x71Logo="Assets\MsixLogo\Square71x71Logo.png"
                         ShortName="FileStrider" />
        <uap:SplashScreen Image="Assets\MsixLogo\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
